{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link rel="icon" href="/static/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/green.css' %}">

    <title>Инструктор-CRM</title>
    <title>Инструктор-CRM {{ title|capfirst }}</title>
    <meta name="Description" content="" />
    <meta name="Keywords" content="" />
</head>

<body>
    <div class="body-container">
        <div class="top-container">
            <div class="sized-container">
                <div class="logo-container">
                    instructor<span>crm</span>
                </div>
                <div class="menu-container">
                    <div class="menu-list">
                        {% if user.is_authenticated %}
                            {% include 'users/includes/inc_user_menu.html' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="main-container">
            <div class="sized-container">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div class="footer-container">
            <div class="sized-container">
                @copyright {{ year }}
            </div>
        </div>
    </div>
</body>

</html>
