{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link rel="icon" href="/static/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/green.css' %}">

    <title>Инструктор-CRM</title>
    <title>Инструктор-CRM {{ title|capfirst }}</title>
    <meta name="Description" content="" />
    <meta name="Keywords" content="" />
</head>

<body>
<input type="hidden" name="user_id" id="user-id" value="{{ user.pk }}">
{% include 'users/includes/message_form.html' %}
    <div class="body-container">
        <div class="wrapper">
            <div class="top-container">
            <div class="sized-container">
                <div class="logo-container">
                    instructor<span>crm</span>
                </div>
                <div class="menu-container row">
                    <div class="menu-list">
                        {% if user.is_authenticated %}
                            <div class="menu-box">
                                {% include 'users/includes/inc_user_menu.html' %}
                                <span class="menu-item active username">
                                    {{ user.get_full_name }}
                                </span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="messages-container">
                        <img class="letter" src="{% static 'images/letter.png' %}" alt="" style="width: 30px">
                        <div class="messages {% comment %}active{% endcomment %}">
                            <ul class="messages-list">
                                {% for msg in user_notifications %}
                                <li class="message-item">
                                    <label>{{ msg.timestamp|date:'d-m-Y G:i' }}</label>
                                    <br>
                                    {{ msg.text }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-container">
            <div class="sized-container">
                {% block content %}
                {% endblock %}
            </div>
            </div>
        </div>
        </div>
        <div class="footer-container">
            <div class="sized-container">
                @copyright {{ year }}
            </div>
        </div>
    </div>
{% block js %}
{% endblock %}
    <script>
        "use strict";
        let ws = null;
        let sendButton = null;
        let users = [];
        const tips = document.querySelector('#tips');

        window.addEventListener('load', () => {
            ws = new WebSocket(('ws://localhost:8181/'));
            sendButton = document.querySelector('#send-button');
            sendButton.addEventListener('click', async event => sendMessage(event));
            ws.addEventListener('open', () => {
                const userId = document.querySelector('#user-id').value;
                const data = {
                    'kind': 'init',
                    'from_user': userId
                }
                ws.send(JSON.stringify(
                    data
                ));
            });
            ws.addEventListener('message', message => newMessageFunction(message));
        });

        window.addEventListener('load', async () => {
            const messagesLink = document.querySelector('#messages-link');
            messagesLink.addEventListener('click', (event) => showDialog(event));
            const messengerContacts = document.querySelector('.contacts-list');
            messengerContacts.addEventListener('click', async (event) => await showMessages(event));
            const closeButton = document.querySelector('.close-button');
            closeButton.addEventListener('click', () => {
                const frame = document.querySelector('.messages-form-container');
                frame.classList.remove('display-flex');
            })
            const search = document.querySelector('#user-search');
            search.addEventListener('click', async () => {
                const request = new Request(
                'http://localhost:8000/users_list/'
                );
                users = await fetch(request
                ).then(
                    result => result.json()
                ).catch(
                    err => console.log(err)
                );
            });
            search.addEventListener('input', event => showTips(event.target));
        });

        window.addEventListener('click', event => {
            const search = document.querySelector('#user-search');
            if (event.target !== tips && event.target !== search) {
                tips.style.display = 'none';
            }
        })

        function addMessage(chat, item) {
            let chatItem = document.createElement('li');
            chatItem.className = 'chat-item';
            chatItem.innerHTML = item;
            chat.append(chatItem);
        }

        function showDialog(event) {
            event.target.innerText = 'Сообщения';
            const container = document.querySelector('.messages-form-container');
            container.classList.add('display-flex');
        }

        function newMessageFunction(message) {
            const data = JSON.parse(message.data);
            const chatBox = document.querySelector('.chat-box');
            if (chatBox.parentElement.parentElement.classList.contains('display-flex')) {
                if (chatBox.querySelector('#text').dataset.id === data.from_user) {
                    addMessage(chatBox.querySelector('.chat'), `<b>${data.timestamp}</b><br>${data.text}`);
                } else {
                    const contacts = document.querySelectorAll('.contacts-item');
                    contacts.forEach(el => {
                        if (el.dataset.id === data.from_user) {
                            el.innerHTML = `${el.innerText}<br><b>NEW</b>`
                        }
                    })
                }
            } else {
                document.querySelector('#messages-link').innerText += ' (1)';
            }
        }

        async function sendMessage(event) {
            const fromUser = document.querySelector('#user-id').value;
            const toUser = event.target.previousElementSibling.dataset.id;
            const input = event.target.previousElementSibling;
            const text = input.value;
            input.value = '';
            await ws.send(
                JSON.stringify({
                    'kind': 'message',
                    'from_user': fromUser,
                    'to_user': toUser,
                    'text': text
                })
            );
            let today = new Date();
            const hours = today.getTwoDigitHour();
            const minutes = today.getTwoDigitMinute();
            addMessage(
                document.querySelector('.chat'),
                `<b>${hours}:${minutes}</b><br>${text}`
            );
        }

        async function showMessages(event) {
            if (event.target.className === 'contacts-item') {
                event.target.querySelectorAll('B').forEach(el => el.remove());
                event.target.querySelectorAll('BR').forEach(el => el.remove());
                document.querySelectorAll('.contacts-item').forEach(el => {
                    if (el.classList.contains('background-color')) {
                        el.classList.remove('background-color')
                    }
                });
                event.target.classList.add('background-color');
                const request = new Request(
                    `http://localhost:8000/messages_list/${event.target.dataset.id}/`
                )
                const response = await fetch(request).then(
                    result => result.json()
                ).catch(
                    err => console.log(err)
                );
                const chat = document.querySelector('.chat');
                const sendForm = document.querySelector('#send-form');
                const inputEl = sendForm.querySelector('#text');
                inputEl.dataset.id = event.target.dataset.id;
                sendForm.style.display = 'flex';
                chat.querySelectorAll('LI').forEach(el => el.remove());
                for (let item of response.result) {
                    addMessage(chat, item);
                }
            }
        }

        tips.addEventListener('click', event => {
            if (event.target.tagName === 'LI') {
                const contacts = document.querySelector('.contacts-list');
                event.target.className = 'contacts-item';
                contacts.appendChild(event.target);
                tips.style.display = 'none';
                showMessages(event);
            }
        })

        function showTips(target) {
            const old = tips.querySelector('ul');
            if (old) {
                old.remove();
            }
            tips.style.display = 'block';
            const html = document.createElement('ul');
            for (let i of users.result) {
                if (i.name.includes(target.value)) {
                    const li = document.createElement('li');
                    li.dataset.id = i.id;
                    li.innerText = i.name;
                    html.append(li);
                }
            }
            tips.appendChild(html);
        }
    </script>
</body>

</html>
