{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<div class="content-container">
    <div class="title">{{ user.get_full_name }}</div>
    <div class="table-container margin-t-15">
        <table class="line-table centered">
            <tbody>
                <tr>
                    <td>Имя пользователя</td>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <td>Имя</td>
                    <td>{{ user.first_name }}</td>
                </tr>
                <tr>
                    <td>Фамилия</td>
                    <td>{{ user.last_name }}</td>
                </tr>
                <tr>
                    <td>Номер телефона</td>
                    <td>{{ user.phone }}</td>
                </tr>
                {% if user.manager %}
                <tr>
                    <td>Менеджер</td>
                    <td>{{ user.manager.get_full_name }}</td>
                </tr>
                {% endif %}
                {% if user.salary %}
                <tr>
                    <td>Оклад</td>
                    <td>{{ user.salary }} руб.</td>
                </tr>
                {% endif %}
                {% if user.percent_salary %}
                <tr>
                    <td>Надбавка</td>
                    <td>{{ user.percent_salary }} %</td>
                </tr>
                {% endif %}
                {% if salary %}
                <tr>
                    <td>Суммарная заработная плата</td>
                    <td>{{ salary }} руб.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="margin-t-20 center">
        <a href="{% url 'auth:edit_profile' %}" class="not-decorated">
            <button class="green">Редактировать</button>
        </a>
    </div>
</div>
{% endblock %}
