{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<div class="table-container margin-t-15">
<table class="list-table">
    <thead>
        <tr>
            <th><span class="sortable">ФИО</span></th>
            <th>E-Mail</th>
            <th>Телефон</th>
            <th>Дата регистрации</th>
            <th></th>
            <th></th>
            <th class="edit"></th>
        </tr>
    </thead>
    <tbody>
    {% for client in clients %}
        <tr>
            <td>{{ client.get_full_name }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.created_at }}</td>
            <td class="center"><button class="green">любая кнопка</button></td>
            <td class="center"><button class="orange">удалить</button></td>
            <td><a href="#"><img src="/static/images/edit.png" alt=""></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    {% if user.role == 'M' or user.role == 'H' %}
        <a href="{% url 'auth:create_user' %}" class="green">+ Добавить</a>
    {% endif %}
</div>
{% endblock %}
