{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<div class="content-container">
    <div class="title center">{{ object.title }}</div>
    <p class="center">{{ object.description }}</p>
    <div class="details-container">
        <div class="detail-field">
            <label>Стоимость: </label>
            <span id="first_name">{{ object.cost }}</span>
        </div>
        {% if user.role == 'M' or user.role == 'H' %}
        <a href="{% url 'courses:create-lesson' pk=object.id %}"><button class="green">Добавить урок</button></a>
        {% endif %}
        <div class="lessons-list">
            <label>Уроки: </label>
        </div>
        <div class="detail-field">
            {% for lesson in object.lessons.all %}
                <div class="lesson-field">
                    {{ forloop.counter }}
                </div>
                <div class="lesson-field">
                    {{ lesson.description }}
                </div>
                <div class="lesson-field">
                    {{ lesson.address }}
                </div>
                <div class="lesson-field">
                    {{ lesson.date }}
                </div>
                <div class="lesson-field">
                    {{ lesson.duration }}
                </div>
                <div class="lesson-field">
                    {{ lesson.cost }}
                </div>
                <a href="{% url 'courses:lesson-detail' pk=lesson.pk %}" class="margin-r-10">
                    <button class="green">Подробнее</button>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="center margin-t-20">
        {% if user.role == 'M' or user.role == 'H' %}
        <a href="{% url 'courses:update' pk=object.pk %}" class="margin-r-10"><button class="green">Редактировать</button></a>
        <a href="{% url 'courses:delete' pk=object.pk %}"><button class="orange">Удалить</button></a>
        <a href="{% url 'courses:subscribe' course_id=object.id lesson_id=0 role='C' %}"><button class="green">Записать клиента на курс</button></a>
        {% endif %}
        {% if user.role == 'C' %}
        <form action="{% url 'courses:unsubscribe' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="course" value="{{ object.id }}">
            <input type="submit" value="Отменить запись">
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
