{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<div class="content-container">
    <div class="title center">{{ object.title }}</div>
    <p class="center">{{ object.description }}</p>
    <div class="details-container">
        <div class="detail-field">
            <label>Стоимость: </label>
            <span id="first_name">{{ object.cost }}</span>
        </div>
        <div class="detail-field">
            <label>Уроки: </label>
            {% for lesson in object.lessons.all %}
                <div class="lesson-field">
                    {{ lesson.description }}
                </div>
                <div class="lesson-field">
                    {{ lesson.address }}
                </div>
                <div class="lesson-field">
                    {{ lesson.date }}
                </div>
                <div class="lesson-field">
                    {{ lesson.duration }}
                </div>
                <div class="lesson-field">
                    {{ lesson.cost }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="center margin-t-20">
        {% if user.role == 'M' or user.role == 'H' %}
        <a href="{% url 'courses:update_type' pk=object.pk %}" class="margin-r-10"><button class="green">Редактировать</button></a>
        <a href="{% url 'courses:delete_type' pk=object.pk %}"><button class="orange">Удалить</button></a>
        {% endif %}
        {% if user.role == 'C' %}
        {% endif %}
    </div>
</div>
{% endblock %}
