{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<div class="content-container">
    <div class="title center">{{ object.title }}</div>
    <div class="details-container">
        <div class="detail-field">
            <label>Описание: </label>
            <span>{{ object.description }}</span>
        </div>
        <div class="detail-field">
            <label>Стоимость: </label>
            <span>{{ object.cost }}</span>
        </div>
    </div>
    <div class="center margin-t-10">
        {% if user.role == 'M' or user.role == 'H' %}
            <a href="{% url 'courses:update' pk=object.pk %}" class="not-decorated">
                <button class="green margin-5">Редактировать</button>
            </a>
            <a href="{% url 'courses:subscribe' course_id=object.id lesson_id=0 role='C' %}" class="not-decorated">
                <button class="green margin-5">Записать клиента на курс</button>
            </a>
            <a href="{% url 'courses:delete' pk=object.pk %}" class="not-decorated">
                <button class="orange margin-5">Удалить</button>
            </a>
            <a href="{{ back }}" class="not-decorated">
                <button>Назад</button>
            </a>
        {% endif %}
        {% if user.role == 'C' %}
        <form action="{% url 'courses:unsubscribe' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="course" value="{{ object.id }}">
            <input type="submit" value="Отменить запись">
        </form>
        {% endif %}
    </div>

    <div class="details-container">
        <div class="row space-between padding-t-10">
            <div class="title">Уроки</div>
            <div class="margin-t-20">
                {% if user.role == 'M' or user.role == 'H' %}
                <a href="{% url 'courses:create-lesson' pk=object.id %}"><button class="green">+ Добавить урок</button></a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="table-container margin-t-15">
        <table class="line-table centered">
            <tbody>
                {% for lesson in object.lessons.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td class="max-width-200">{{ lesson.description }}</td>
                        <td>{{ lesson.address }}</td>
                        <td>{{ lesson.date }}</td>
                        <td>{{ lesson.duration }}</td>
                        <td>{{ lesson.cost }}</td>
                        <td>
                            <a href="{% url 'courses:lesson-detail' pk=lesson.pk %}" class="control-link">
                                Подробнее
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
