{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<div class="content-container">
    <div class="title center">{{ object.title }}</div>
    <div class="details-container">
        <div class="detail-field">
            <label>Описание: </label>
            <span>Заглушка, если мы к типам курса привяжем ещё что-либо, например, уровень курса</span>
        </div>
    </div>
    <div class="center margin-t-20">
        {% if user.role == 'M' or user.role == 'H' %}
        <a href="{% url 'courses:update_type' pk=object.pk %}" class="margin-r-10"><button class="green">Редактировать</button></a>
        <a href="{% url 'courses:delete_type' pk=object.pk %}"><button class="orange">Удалить</button></a>
        {% endif %}
        {% if user.role == 'C' %}
        {% endif %}
    </div>
</div>
{% endblock %}
