{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<div class="content-container">
    <div class="title">{{ title | capfirst }}</div>
    <div class="row-reverse">
        <div class="filter-container margin-b-10">
            <div class="row-wrap">
                <form class="item" action="" method="get">
                    <select name="filter">
                        <option value="">Все</option>
                        {% for kind in kinds %}
                            {% if filtered == kind.id %}
                                <option selected value="{{ kind.id }}">{{ kind.title }}</option>
                            {% else %}
                                <option value="{{ kind.id }}">{{ kind.title }}</option>
                            {% endif %}

                        {% endfor %}
                    </select>
                    <input type="submit" value="Фильтр" class="margin-l-5">
                </form>
                <div class="item"><input id="search" placeholder="поиск..." class="search-input"></div>
            </div>
        </div>
        <div class="add-container margin-b-10">
            {% if user.role == 'M' or user.role == 'H' %}
                <a href="{% url 'courses:create' %}"><button class="green">Добавить +</button></a>
            {% endif %}
        </div>
    </div>
    <div class="table-container margin-t-15">
        <table class="list-table">
            <thead>
                <tr>
                    <th><span class="sortable">Тип курса</span></th>
                    <th>Название курса</th>
                    <th>Стоимость</th>
                    <th>Дата начала 1 урока</th>
                    {% if user.role == 'M' or user.role == 'H' %}
                        <th class="edit"></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.kind.title }}</td>
                    <td><a href="{% url 'courses:detail' pk=object.pk %}" class="control-link">{{ object.title }}</a></td>
                    <td>{{ object.cost }} руб</td>
                    <td>{{ object.start_date }}</td>
                    {% if user.role == 'M' or user.role == 'H' %}
                        <td>
                            <a href="{% url 'courses:update' pk=object.pk %}">
                                <img src="/static/images/edit.png" alt="">
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% comment %} {% if user.role == 'M' or user.role == 'H' %}
            <a href="{% url 'auth:create_user' %}" class="green">+ Добавить</a>
        {% endif %} {% endcomment %}
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/search.js' %}"></script>
{% endblock %}
