{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<div class="content-container">
    <div class="title center">{{ title }}</div>
    <form action="" method="post" class="as_p" id="form">
        {% csrf_token %}
        {{ form.as_p }}
        <p style="display:flex; justify-content: center">
        <label></label>
        <input style="margin: 0 20px" type="submit" form="form" value="{{ button }}" class="green">
        <a href="{{ back }}" class="button">Назад</a>
    </p>
    </form>
</div>
{% endblock %}
