{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<div class="content-container">
    <div class="title center">{{ title }}</div>
    <p class="center">Вы точно хотите удалить "{{ object }}" ?</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <label></label>
            <input type="submit" value="{{ button }}" class="orange">
            <a href="{{ back }}">Назад</a>
        </p>
    </form>
</div>
{% endblock %}
